<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".gltf"/>
      <mimeMap fileExtension=".gltf" mimeType="application/gltf"/>
      <remove fileExtension=".webp"/>
      <mimeMap fileExtension=".webp" mimeType="application/webp"/>
    </staticContent>
    </system.webServer>
</configuration>