body {
  background: black;
}

@speed: 400s;

.makeRandom(@min: 0, @max: @min+1, @int: 0) { 
  .checkInt() {
    @getNum: `Math.random() * (@{max} - @{min} + @{int})`;
    @base: unit(`@{int} == 1 ? Math.floor(@{getNum}) : @{getNum}`);
  }
  .checkInt();
  @randNum: @base + @min;
}

.text-shadow-3d(@x, @y, @index) when (@index > 0) {

  @randNum: `Math.floor(Math.random() * 1200)`;
  @spread: `Math.floor(Math.random() * 5)`;
  @modx: `Math.random() > 0.5 ? -1 : 1`;
  @mody: `Math.random() > 0.5 ? -1 : 1`;
  
    // Loop-de-loop.
  .text-shadow-3d(@randNum * @modx, @randNum * @mody, (@index - 1));

    // The '+' after 'text-shadow' concatenates with comma.
    box-shadow+: unit(@x, px) unit(@y, px) unit(@spread, px);
}

.stars {
  background-color: white;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  
  animation: rotate @speed linear infinite;
  position: absolute;
  top: 100%;
  left: 50%;
  color: white;
  
  .text-shadow-3d(1px, 1px, 900);
  
  &:before,
  &:after {
    background-color: white;
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 2px;
    top: 0;
    left: 0;
    .text-shadow-3d(1px, 1px, 600);
    animation: rotate (@speed ) linear infinite;
  }
  &:before {
    .text-shadow-3d(1px, 1px, 600);
    animation: rotate (@speed) linear infinite;
  }
}

@keyframes rotate {
  0% {
    opacity: 0.7;
    color: pink;
  }
  13% {
    opacity: 1;
  }
  26% {
    opacity: 0.7;
    color: green;
  }
  50% {
    opacity: 1;
    color: blue;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0.3;
  }
}